.btn{
    background-color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 1px .1rem .5rem 0px rgb(60 60 60 / 12%);
    color: var(--white);
    display: block;
    height: fit-content;
    padding: 16px;
    text-decoration: none;
    width: fit-content;
}