/*Team Styles*/

.team {
    background-color: var(--gray);
    padding: 50px 0 100px;
  }
  
.teamContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
  

.teamList{
    display: grid;
    grid-column: 1 / -1;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    
  }
  
.teamStatistics{
    display: flex;
    flex-wrap: wrap;
}
  
.teamStatisticsItem{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    align-items: center;
    text-align: center;
  
    & h3{
        font-size: 41px;
    }
    & .image{
        background-color: var(--skyblue); 
        border-radius: 100%;
        padding: 16px;
        height: 59px;
        width: fit-content;
    }
}


@media (min-width: 768px) {
    .teamList{
        grid-template-columns: repeat(2, 1fr);
    }
  
    .teamStatistics{  
        gap: 10px;
    }
}

@media (min-width: 1024px) {
 
    .teamContainer{
        grid-template-columns: 1fr 2fr auto;
    }
  
    .teamList{
        grid-template-columns: repeat(4, 1fr);
    }
}  