.details{
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
  }

.summary{
    background-color: var(--white);
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 30.5px;
  
    &::marker{
        color: var(--primary-color);
    }
}

