/*Strategy Styles*/
.strategy{
    background-color: var(--gray);
    padding: 50px 0 100px;
    & h2 {
        margin-bottom: 30px;
    }
  
    & p {
        margin-bottom: 20px;
    }
}
  
  
.strategyContainer{
    align-items: center;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    
  }
  
.strategyCardsContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 768px) {

    .strategyContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}