:root{
  --primary-color: #5EB9F0;
  --heading-color: #343F52;
  --paragraph-color: #60697B;
  --skyblue: #E5F4FD;
  --white: #fff;
  --light-gray: #f0f8fe;
  --gray: #fefefe;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Urbanist", sans-serif;
}

details{
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px;
}

footer{
  background-color: var(--heading-color);
  padding: 50px 0 ;

  & h2 {
      color: var(--white);
  }
}

h1{
  color: var(--heading-color);
  font-size: 54px;
  font-weight: 600;
  line-height: 62px;
  & span{
      color: var(--primary-color);
  }
}

h2{
  color: var(--heading-color);
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
}

h3{
  color: var(--heading-color);
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
}

img {
  width: 100%;
}


nav{
  
  padding: 20px 0;

}


.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  & ul {
      display: none;
      
      &.active{
          display: flex;
          position: absolute;
          background-color: var(--primary-color);
          top: 0;
          left: 0;
          height: 100vh;
          
          flex-direction: column;
          padding: 50px 0 20px; 
          text-align: center;
          width: 100%;
      }


      & a {
          color: var(--white);
          
      }

      & span{
          font-weight: 600;
          position: absolute;
          right: 15px;
          top: 25px;
      }
  }
}

p{
  color: var(--paragraph-color);
  font-size: 17px;
  line-height: 29px;
}

summary{
  background-color: var(--white);
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 30.5px;

  &::marker{
      color: var(--primary-color);
  }
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
  & li a {
      color: var(--heading-color);
      font-weight: 600;
      text-decoration: none;
  }
}

.btn-primary{
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 1px .1rem .5rem 0px rgb(60 60 60 / 12%);
  color: var(--white);
  display: block;
  height: fit-content;
  padding: 16px;
  text-decoration: none;
  width: fit-content;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/*FAQ Styles*/

.faq{
  background-color: var(--gray);
  padding: 50px 0 100px;
  
  & h2, 
  & p {
      margin-bottom: 20px;
  }
}

.faqs-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.faqs-list{
  display: flex;
  flex-direction: column;
  gap: 20px;

}


.faqs-item{
  box-shadow: 1px .1rem .5rem 0px rgb(60 60 60 / 12%);
  cursor: pointer;
}

/*Footer Styles*/

.footer-container{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  
}

/*Hero Styles*/

.hero{
  padding: 60px 0;
  & h1 {
      max-width: 405px;
      margin-bottom: 20px;
  }
  & p {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 30px;
  }

}

.hero-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

/*Project Styles*/

.projects{
  padding: 50px 0 100px;
  & h2{
      margin: 0 auto 50px;
      max-width: 780px; 
      text-align: center;
  }
}

.project-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.project-item{
  & img{
      margin-bottom: 20px;
  }
  & h3{
      margin-bottom: 10px;
  }
  & p {
      color: #9499a3;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      text-transform: uppercase;

  }
}


/*Services Styles*/
.service{
  background-color: var(--light-gray);
  padding: 50px 0;
  & h2{
      margin-bottom: 70px;
      max-width: 655px;
      margin: 0 auto 70px;
      text-align: center;
  }
}

.service-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}

.service-item{
  text-align: center;
  & h3{
      margin-bottom: 15px;
  }
  & a {
      color: var(--primary-color);
      text-decoration: none;
  }
  & img{
      max-height: 230px;
  }
  & p {
      max-width: 317px;
      margin: 0 auto 20px;
  }

}

/*Strategy Styles*/
.strategy{
  background-color: var(--gray);
  padding: 50px 0 100px;
  & h2 {
      margin-bottom: 30px;
  }

  & p {
      margin-bottom: 20px;
  }
}


.strategy-container{
  align-items: center;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  
}

.strategy-cards-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.strategy-card{
  align-items: center;
  background-color: var(--white);
  box-shadow: 1px .1rem .5rem 0px rgb(60 60 60 / 12%);
  display: flex;
  gap: 20px;
  max-width: 520px;
  padding: 20px;
  position: relative;

  & .order{
      background-color: var(--skyblue); 
      border-radius: 100%;
      color: var(--primary-color);
      font-size: 22px;
      font-weight: 600;
      padding: 10px 12px;
      width: fit-content;
      
  }
}

/*Team Styles*/

.team {
  background-color: var(--gray);
  padding: 50px 0 100px;
}

.team-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  gap: 20px;
}

.team-item{
  background-color: var(--white);
  box-shadow: 1px .1rem .5rem 0px rgb(60 60 60 / 12%);
  padding: 20px;

  & h3 {
      font-size: 20px;
  
      & + p {
          color: #AAB0BC;
          text-transform: uppercase;
      }
  }

  & img{
      width: 100px;
  }
}

.team-list{
  display: grid;
  grid-column: 1 / -1;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  
}

.team-statistics{
  display: flex;
  flex-wrap: wrap;

}

.team-statistics-item{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  align-items: center;
  text-align: center;

  & h3{
      font-size: 41px;
  }
  & .image{
      background-color: var(--skyblue); 
      border-radius: 100%;
      padding: 16px;
      height: 59px;
      width: fit-content;
  }
}

/* Testimonials Style*/
.testimonials{
  background-color: var(--light-gray);
  padding: 70px 0;
  & h2 {
      max-width: 670px;
      margin: 0 auto 50px;
      text-align: center;
  }
}

.testimonials-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.testimonials-item{
  background-color: var(--white);
  padding: 20px;
  & p {
      font-size: 18px;
  }
  
}

.testimonials-author{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
  & img{
      max-width: 70px;
  }
}


@media (min-width: 768px) {

  .footer-container{
      grid-template-columns: repeat(2, 1fr);
      & .btn-primary{
          justify-self: end;
          margin-right: 30px;
      }
  }

  .hero-container{
      flex-wrap: nowrap;
      & h1{
          font-size: 40px;
      }

      & p {
          font-size: 18px;
      }
  }

  .btn-nav{
      display: none;
  }

  .nav-container{
      & ul{
          display: flex;
          & a{
              color: var(--paragraph-color);
          }
      }

      
  }

  .project-container{
      grid-template-columns: repeat(2, 1fr);
  }

  .strategy-container{
      grid-template-columns: repeat(2, 1fr);
  }
  

  .team-list{
      grid-template-columns: repeat(2, 1fr);
  }

  .team-statistics{  
      gap: 10px;
  }

  .testimonials-list{
      grid-template-columns: repeat(2, 1fr);
  }

  
}

@media (min-width: 1024px) {

  .faqs-container{
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
  }

  .service-list{
      grid-template-columns: repeat(3, 1fr);
  }
  
  
  
  .team-container{
      grid-template-columns: 1fr 2fr auto;
  }

  .team-list{
      grid-template-columns: repeat(4, 1fr);
  }

  .testimonials-list{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .strategy-card{
      &:nth-child(2){
          left: 50px;
      }

      &:nth-child(3){
          left: 20px;
      }
  }
}